.DS_Store

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
build/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

debian/arachne.debhelper.log
debian/arachne.substvars
debian/files

*.exe
*.test
*.log
*.prof
*.pprof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# external packages folder
vendor/
.idea/
*.iml
